<meta name="twitter:card" content="summary" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@TaiwanPDIS" />
<meta name="twitter:description" content="健保藥局哪裡有？口罩數量剩多少？歡迎您運用社群朋友開發的應用界面，了解即時的口罩供需情況。" />
<meta property="og:url" content="https://mask.pdis.nat.gov.tw" />
<meta property="og:locale" content="zh_TW" />
<meta property="og:type" content="website" />
<meta property="og:title" content="口罩供需資訊平台" />
<meta property="og:description" content="健保藥局哪裡有？口罩數量剩多少？歡迎您運用社群朋友開發的應用界面，了解即時的口罩供需情況。" />
<meta property="og:image" content="https://repository-images.githubusercontent.com/238351202/f08cc000-4824-11ea-8cef-58ec04229fdc" />
<style>section { background: #f2f2f2 } img { border: 2px dashed #99f } ul { display: none } header h1 { color: black } footer { display: none }</style>
